<% if current_user.needs_engagement? %>
	
	$('.my-tasks ul:first').append('<%= j render partial: "task", locals: {t: @task} %>');
	$('.new-task-button').replaceWith('<h4>Registration Required to Add More Tasks!</h4>');
	$('form').hide();

<% else %>

	// Hide the form
	$('form').hide();
	// Append new task to existing list
	$('.my-tasks ul:first').append('<%= j render partial: "task", locals: {t: @task} %>');
	// Show the New button
	$('.new-task-button').show();

<% end %>